# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz

# bundle
/dist/
/release/

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# package
shu-ho-standalone-*-*
