<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Shu-ho standalone</title>
  <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css" />
</head>

<body>
  <div class="page-header">
    <h1>Shu-ho<small> Standalone 0.0.2</small>
      <button type="button" class="btn btn-link" onClick="saveSettings()" disabled><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Settings</button>
    </h1>
  </div>
  <div id="index" class="container">
    <div class="row">
      <div v-if="page === 'editor'">
        <div class="col-md-12">
          <input type="hidden">
          <a v-bind:href="mailLinkA" class="send-mail-link"  ></a>
          </input>
          <button type="button" class="btn btn-link" v-on:click="template()"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Template</button>
          <button type="button" class="btn btn-link" disabled><span class="glyphicon glyphicon-copy" aria-hidden="true"></span>Copy from the last report</button>
          <button type="button" class="btn btn-link" v-on:click="saveCurrentBuffer()"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>Save current</button>
          <button type="button" class="btn btn-link" v-on:click="loadLastBuffer()"><span class="glyphicon glyphicon-open" aria-hidden="true"></span>Load Last</button>
          <button type="button" class="btn btn-link send-mail" v-on:click="sendMail"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>Send Mail</button>
          <button type="button" class="btn btn-link" v-on:click="showPreview()"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Preview</button>
        </div>
      </div>
      <div v-if="page === 'preview'">
        <div class="col-md-12">
          <button type="button" class="btn btn-link" v-on:click="showEditor()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit</button>
        </div>
      </div>
    </div>

    <hr>

    <div v-if="page === 'editor'">
      <div class="row">
        <div class="col-md-12">
          <div style="height: 400px">
            <editor editor-id="editorA" theme="twilight" :content="contentA" v-on:change-content="changeContentA"></editor>
          </div>
        </div>
      </div>
    </div>
    <div v-if="page === 'preview'">
      <div class="row">
        <div class="col-md-12">
          <div class='preview' style="height: 400px">
            <h2>preview</h2>
            <previewer previewer-id="previewerA"></previewer>
          </div>
        </div>
      </div>
    </div>
    <div v-if="page === 'history'">
      <div class="row">
        <div class="col-md-12">
          <div class='history' style="height: 400px">
            <h2>History</h2>
            <previewer previewer-id="previewerA"></previewer>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="dist/bundle.js"></script>
</body>

</html>